<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>索引<h1>
	<h3>人物</h3>
		<li><a href="{% url 'wiki:detail' name='习近平' %}">习近平</a></li>
		<li><a href="{% url 'wiki:detail' name='毛泽东' %}">毛泽东</a></li>
		<li><a href="{% url 'wiki:detail' name='张高丽' %}">张高丽</a></li>
		<li><a href="{% url 'wiki:detail' name='于丹' %}">于丹</a></li>
		<li><a href="{% url 'wiki:detail' name='李建国' %}">李建国</a></li>
		<li><a href="{% url 'wiki:detail' name='胡锦涛' %}">胡锦涛</a></li>
		<li><a href="{% url 'wiki:detail' name='芙蓉姐姐' %}">芙蓉姐姐</a></li>
		<li><a href="{% url 'wiki:detail' name='周恩来' %}">周恩来</a></li>
		<li><a href="{% url 'wiki:detail' name='黄易' %}">黄易</a></li>
		<li><a href="{% url 'wiki:detail' name='李四光' %}">李四光</a></li>
</body>
</html>